body {
  background-color: #393e46;
}

/* .header { */
/*   border: 10px solid purple; */
/* } */
/**/
/* .another-header { */
/*   border: 10px solid blue; */
/* } */

h1 {
  color: #4ecca3;
  font-family: "Lobster", cursive;
  font-weight: bolder;
  font-size: 5rem;
  text-shadow: 5px 0 #232931;
}

.text1,
.text2 {
  color: #4ecca3;
  font-family: "Indie Flower";
  font-weight: bolder;
  font-size: 3rem;
  text-shadow: 5px 0 #232931;
}
.footer-note {
  color: white;
  font-family: "Indie Flower";
}

/* .container { */
/*   border: 10px solid red; */
/* } */
/* h1 { */
/*   border: 10px solid green; */
/* } */
/**/
/* .mine { */
/*   border: 10px solid yellow; */
/* } */
